html {
  width: 100%;
}

.item-label {
  margin: 0px 10px 0px 0px;
  background: #028090;
  border-radius: 5px;
  padding: 1px 10px;
  text-align: center;
  color: white;
  font-size: 0.75rem;
  max-width: 160px;
  display: inline-block;
  white-space: nowrap;
}

.row {
  margin: 0px;
}

a {
  color: #05668d;
  font-weight: 600;
}

a i {
  color: #028090;
}

a i:hover {
  color: #00a896;
}

a:hover {
  color: #00a896;
}

h1, h3 {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-weight: 1000;
  color: #05668d;
}

h6 {
  color: #05668d;
  font-size: 15px;
}

body {
  width: 100%;
  background-color: #fdffe3;
  font-family: 'Source Sans Pro', sans-serif;
  overscroll-behavior-y: none;
}

.project-card {
  background-color: white;
  border: 2px solid #05668d;
  box-shadow: 0px 0px 5px #028090;
  padding: 15px;
  margin: 10px 20px;
  min-width: 250px;
}

.project-card i {
  color: #028090;
}

.section-header-left {
  background-color: #05668d;
  color: white;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  padding: 5px 25px;
  margin: 5px 0px;
}

.section-header-right {
  background-color: #05668d;
  color: white;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
  padding: 5px 25px;
  margin: 5px 0px;
}

#page-header {
  color: white;
  background-color: #028090b0;
  border-radius: 29px;
  padding: 5px 25px;
  margin: 25px 0px;
  z-index: 5;
}

#page-intro {
  font-size: 1.5rem;
  width: auto;
  padding: 0px 25px;
  z-index: 5;
}

.subsection-header {
  background-color: #00a896;
  color: white;
  border-radius: 20px;
}

container > .row {
  width: 100%;
  margin: 0px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  margin-bottom: 5vh;
}

#page-header-div {
  max-width: 1000px;
  margin: 25px 0px;
  padding: 0px;
}

p {
  color: black;
}

.connect-icon {
  min-width: 80px;
}

.connect-row {
  padding: 15px 0px;
  color: #00a896;
}

.jumbotron.d-lg-flex.justify-content-lg-center.align-items-lg-center {
  background: linear-gradient(#028090, rgb(253,255,227));
  background-color: rgba(240,243,189,0.4);
  border-radius: 0;
  height: 600px;
  padding-bottom: 48px;
  width: 100%;
}

#particles {
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 0;
}

.project-card > h5 {
  text-align: center;
}

.project-card > h6 {
  margin: 0px;
}

.content-row > .col {
  margin: 15px 15px;
  max-width: 1000px;
}

.content-row > .col > p {
  margin: 0px;
}

.content-row > .col > ul {
  margin: 0px;
}

.fade-in {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 1.0s ease-out, transform 0.5s ease-out;
  will-change: opacity, visibility;
}
.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.post {
  max-width: 700px !important;
}

.post h1 {
  color: #028090;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  margin-bottom: 0px;
}

.post h2 {
  color: #05668d;
  font-weight: 500;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
  margin-bottom: 0px;
}

.post h3 {
  color: #028090;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 11px;
  margin-bottom: 0px;
}

.post h4 {
  color: #05668d;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 9px;
  margin-bottom: 0px;
}

.post h5 {
  color: #028090;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 7px;
  margin-bottom: 0px;
}

.post h6 {
  color: #05668d;
  font-weight: 500;
  font-size: 1.0rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
}

.post p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.post ul {
  margin-top: 5px;
  margin-bottom: 0px;
}

pre {
  margin: 0px;
}

table {
  margin: 10px auto;
}

table tr {
	border-top: 1px solid #05668d;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #05668d40;
}

table tr th {
	font-weight: bold;
  border: 1px solid #05668d;
  background-color: #05668dd0;
  color: white;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #05668d;
	text-align: center;
	margin: 0;
	padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
	margin-bottom: 0;
}

/* syntax highlighting derived from  */

.highlight {
  background-color: #1e1c3f;
  padding: 5px 10px;
  overflow: auto;
  font-size: 95%;
  border-radius: 5px;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
  color: #d8d8d8;
}

.highlighter-rouge { 
  background-color: #00a89710; 
  color: #028090; 
  font-size: 16px;
}

.highlight .hll { background-color: #f1fa8c }
.highlight  { background: #282a36; color: #f8f8f2 }
.highlight .c { color: #6272a4 } /* Comment */
.highlight .err { color: #f8f8f2 } /* Error */
.highlight .g { color: #f8f8f2 } /* Generic */
.highlight .k { color: #ff79c6 } /* Keyword */
.highlight .l { color: #f8f8f2 } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #ff79c6 } /* Operator */
.highlight .x { color: #f8f8f2 } /* Other */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #6272a4 } /* Comment.Hashbang */
.highlight .cm { color: #6272a4 } /* Comment.Multiline */
.highlight .cp { color: #ff79c6 } /* Comment.Preproc */
.highlight .cpf { color: #6272a4 } /* Comment.PreprocFile */
.highlight .c1 { color: #6272a4 } /* Comment.Single */
.highlight .cs { color: #6272a4 } /* Comment.Special */
.highlight .gd { color: #8b080b } /* Generic.Deleted */
.highlight .ge { color: #f8f8f2; text-decoration: underline } /* Generic.Emph */
.highlight .gr { color: #f8f8f2 } /* Generic.Error */
.highlight .gh { color: #f8f8f2; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #f8f8f2; font-weight: bold } /* Generic.Inserted */
.highlight .go { color: #44475a } /* Generic.Output */
.highlight .gp { color: #f8f8f2 } /* Generic.Prompt */
.highlight .gs { color: #f8f8f2 } /* Generic.Strong */
.highlight .gu { color: #f8f8f2; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #f8f8f2 } /* Generic.Traceback */
.highlight .kc { color: #ff79c6 } /* Keyword.Constant */
.highlight .kd { color: #8be9fd; font-style: italic } /* Keyword.Declaration */
.highlight .kn { color: #ff79c6 } /* Keyword.Namespace */
.highlight .kp { color: #ff79c6 } /* Keyword.Pseudo */
.highlight .kr { color: #ff79c6 } /* Keyword.Reserved */
.highlight .kt { color: #8be9fd } /* Keyword.Type */
.highlight .ld { color: #f8f8f2 } /* Literal.Date */
.highlight .m { color: #bd93f9 } /* Literal.Number */
.highlight .s { color: #f1fa8c } /* Literal.String */
.highlight .na { color: #50fa7b } /* Name.Attribute */
.highlight .nb { color: #8be9fd; font-style: italic } /* Name.Builtin */
.highlight .nc { color: #50fa7b } /* Name.Class */
.highlight .no { color: #f8f8f2 } /* Name.Constant */
.highlight .nd { color: #f8f8f2 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #f8f8f2 } /* Name.Exception */
.highlight .nf { color: #50fa7b } /* Name.Function */
.highlight .nl { color: #8be9fd; font-style: italic } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #f8f8f2 } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #ff79c6 } /* Name.Tag */
.highlight .nv { color: #8be9fd; font-style: italic } /* Name.Variable */
.highlight .ow { color: #ff79c6 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: #bd93f9 } /* Literal.Number.Bin */
.highlight .mf { color: #bd93f9 } /* Literal.Number.Float */
.highlight .mh { color: #bd93f9 } /* Literal.Number.Hex */
.highlight .mi { color: #bd93f9 } /* Literal.Number.Integer */
.highlight .mo { color: #bd93f9 } /* Literal.Number.Oct */
.highlight .sa { color: #f1fa8c } /* Literal.String.Affix */
.highlight .sb { color: #f1fa8c } /* Literal.String.Backtick */
.highlight .sc { color: #f1fa8c } /* Literal.String.Char */
.highlight .dl { color: #f1fa8c } /* Literal.String.Delimiter */
.highlight .sd { color: #f1fa8c } /* Literal.String.Doc */
.highlight .s2 { color: #f1fa8c } /* Literal.String.Double */
.highlight .se { color: #f1fa8c } /* Literal.String.Escape */
.highlight .sh { color: #f1fa8c } /* Literal.String.Heredoc */
.highlight .si { color: #f1fa8c } /* Literal.String.Interpol */
.highlight .sx { color: #f1fa8c } /* Literal.String.Other */
.highlight .sr { color: #f1fa8c } /* Literal.String.Regex */
.highlight .s1 { color: #f1fa8c } /* Literal.String.Single */
.highlight .ss { color: #f1fa8c } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2; font-style: italic } /* Name.Builtin.Pseudo */
.highlight .fm { color: #50fa7b } /* Name.Function.Magic */
.highlight .vc { color: #8be9fd; font-style: italic } /* Name.Variable.Class */
.highlight .vg { color: #8be9fd; font-style: italic } /* Name.Variable.Global */
.highlight .vi { color: #8be9fd; font-style: italic } /* Name.Variable.Instance */
.highlight .vm { color: #8be9fd; font-style: italic } /* Name.Variable.Magic */
.highlight .il { color: #bd93f9 } /* Literal.Number.Integer.Long */
