<!DOCTYPE html>
<html>
<!--TODO use mustache.js-->
<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    {% include head.html %}
</head>

<body>
    <div id="particles"></div>
    <div class="jumbotron d-flex justify-content-center align-items-center">
        <div class="text-center" id="page-header-div" style="z-index: 10;">
            <h1 class="text-center d-inline-block fade-in" id="page-header">Hi! Nice to meet you.</h1>
            <p class="text-center d-inline-block fade-in" id="page-intro">My name is Ruiran Xun, and I am a 
                <strong>collaborative pianist</strong>, <strong>music director</strong>, and <strong>software engineer</strong> 
                based in Jersey City. Thank you for visiting, and feel free to browse around!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-right section-header-left fade-in">
                <h1>quick links</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <ul>
                    <li><a href="{{ site.baseurl }}/music/">music/theatre CV</a></li>
                    <li><a href="{{ site.baseurl }}/cv/">technical/academic CV</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-left section-header-right fade-in">
                <h1>what I'm up to</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <ul>
                    <li><strong>recent:</strong> accompanied events with <a href="https://www.salonavecmoi.com/">Salon Avec Moi</a> and <a href="https://inconfidence.club/">In Confidence</a>.</li>
                    <li><strong>current:</strong> miscellaneous copywork, gigs, and recording projects.</li>
                    <li><strong>upcoming:</strong> TBD! And at some point I'll redesign this website as well. It's been a few years.</li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-left section-header-left fade-in">
                <h1>other links</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-xl-center content-row fade-in">
            <div class="col">
                <ul>
                    <li><a href="{{ site.baseurl }}/courses">courses @ CMU</a></li>
                    <li><a href="https://maestramusic.org/profile/ruiran-xun/">Maestra profile</a></li>
                    <li><a href="https://museonline.org/profile/ruiran-xun/">MUSE profile</a></li>
                </ul>
            </div>
        </div>
        
        <div class="row justify-content-end">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-right section-header-right fade-in">
                <h1>let's connect!</h1>
            </div>
        </div> 
        <div class="row justify-content-center connect-row fade-in">
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="mailto:xun.ruiran@gmail.com"><i class="fa fa-envelope"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://www.linkedin.com/in/ruiran-xun/"><i class="fa fa-linkedin-square"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://github.com/elucidium"><i class="fa fa-github"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://www.instagram.com/xun.ruiran/"><i class="fa fa-instagram"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://soundcloud.com/ruiran-xun"><i class="fa fa-soundcloud"></i></a></h1>
            </div>
        </div>
    </div>
    {% include scripts.html %}
</body>

</html>
