<!DOCTYPE html>
<html>
<!--TODO use mustache.js-->
<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    {% include head.html %}
</head>

<body>
    <div id="particles"></div>
    <div class="jumbotron d-flex justify-content-center align-items-center">
        <div class="text-center" id="page-header-div" style="z-index: 10;">
            <h1 class="text-center d-inline-block fade-in" id="page-header">Hi! Nice to meet you.</h1>
            <p class="text-center d-inline-block fade-in" id="page-intro">My name is Ruiran Xun, and I am a 
                software engineer and collaborative pianist based in the Bay Area. I recently graduated
                from Carnegie Mellon University, where I studied <strong>chemistry</strong>, 
                <strong>computer science</strong>, and <strong>collaborative piano</strong>. Thank you 
                for visiting, and feel free to browse around!</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-right section-header-left fade-in">
                <h1>quick links</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <ul>
                    <li><a href="{{ site.baseurl }}/cv/">technical CV</a></li>
                    <li><a href="{{ site.baseurl }}/music/">music CV</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-right section-header-right fade-in">
                <h1>what I'm up to</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <ul>
                    <li> <strong>current:</strong> music & vocal director, <a href="https://www.landmarkmusicals.com/"><em>The Addams Family</em></a> @ Landmark Musical Theatre
                    <li> <strong>upcoming:</strong> music director, <a href="https://www.marintheatre.org/productions/justice-a-new-musical"><em>JUSTICE: A New Musical</em></a> @ Marin Theatre Company (world premiere)
                </ul>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-left section-header-left fade-in">
                <h1>chemistry</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <p>I was involved in research on <strong>polymer synthesis</strong> in the 
                    <a href="http://www.chem.cmu.edu/groups/noonan/index.html">Noonan group</a> at
                    Carnegie Mellon University. In the summer of 2017, I also conducted research with
                    the <a href="https://www.porcogroup.com/">Porco group</a> at Boston University, 
                    during which I studied a <strong>novel synthesis of indoles</strong> with concurrent 
                    group migration (the poster can be found 
                    <a href="{{ site.baseurl }}/assets/pdf/rise-poster.pdf">here</a>).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-right section-header-right fade-in">
                <h1>computer science</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <p>I completed a dual degree in computer science alongside my chemistry degree and 
                    served as a <strong>teaching assistant</strong> for
                    <a href="https://www.cs.cmu.edu/~15122/">15-122</a>, an introductory course at CMU,
                    from my sophomore year onwards. I was also a <strong>lead teaching assistant</strong> 
                    for the course starting my junior year, and I will be an <strong>instructor of 
                    record</strong> in the summer of 2022.</p>
                <p>I was a <strong>Rewriting the Code fellow</strong> for the 2020–2021 year, and I was
                    a <strong>Facebook Above and Beyond Computer Science (ABCS) fellow</strong> during
                    the fall of 2020.</p>
                <p>I have previously interned as a <strong>software engineer intern</strong> at Network 
                    Medical Management (2020) and Palo Alto Networks (2021), and will be working full-time as a 
                    <strong>software engineer</strong> at Palo Alto Networks starting in August 2022.</p>
                <p>Academically, I'm quite interested in <strong>programming language theory</strong> 
                    (broadly speaking, type theory and formal verification).</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3 subsection-header fade-in">
                <h3 class="text-center">projects</h3>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-xl-center content-row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-3 project-card fade-in">
                        <h5>Quagmire: a C0 compiler</h5>
                        <div class="row justify-content-center">
                            <div class="col-auto"><a href="{{ site.baseurl }}/assets/pdf/dependent-arrays.pdf"><i class="fa fa-external-link"></i></a></div>
                        </div>
                        <p>A GCC-competitive optimizing compiler developed from scratch in OCaml, 
                            compiling a safe subset of C into x86-64 assembly. Completed while taking
                            Compiler Design (15-411) at CMU. (The source code cannot be public; the 
                            above link is to a paper detailing our final project in the course, in 
                            which we utilized dependent types to determine safety of array accesses 
                            at compile time.)</p>
                        <p class="item-label">OCaml</p>
                        <p class="item-label">Dune</p>
                        <p class="item-label">Z3 Theorem Prover</p>
                    </div>
                    <div class="col-3 project-card fade-in">
                        <h5>Personal Website</h5>
                        <div class="row justify-content-center">
                            <div class="col-auto"><a href="https://github.com/elucidium/elucidium.github.io"><i class="fa fa-github"></i></a></div>
                        </div>
                        <p>This website! A Jekyll website designed from scratch to be fully responsive,
                            deployed on a secured custom domain through Github Pages.</p>
                        <p class="item-label">Bootstrap</p>
                        <p class="item-label">Jekyll</p>
                    </div>
                    <div class="col-3 project-card fade-in">
                        <h5>HonkBot</h5>
                        <div class="row justify-content-center">
                            <div class="col-auto"><a href="https://github.com/elucidium/honkbot"><i class="fa fa-github"></i></a></div>
                        </div>
                        <p>A Discord bot with role management and verification features. While a TA, 
                            I developed this for use by the course Principles of Imperative 
                            Computation (15-122) at Carnegie Mellon during remote semesters (specifically spring
                            and summer 2021).</p>
                        <p class="item-label">Python</p>
                        <p class="item-label">Heroku</p>
                        <p class="item-label">Heroku Redis</p>
                        <p class="item-label">Discord API</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-left section-header-left fade-in">
                <h1>collaborative piano</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-lg-center content-row fade-in">
            <div class="col">
                <p>I've worked on many theatrical productions as a music director and/or pianist in both
                    student-produced and professional capacities. At CMU, I was heavily involved in 
                    Scotch'n'Soda Theatre in various music-adjacent and leadership roles, most recently 
                    music directing its production of <em>The Rocky Horror Show</em> in October 2021 and
                    <em>RENT</em> in April 2022. I also have some experience composing and arranging.</p>
                <p>A comprehensive overview of my musical experiences can be found 
                    <a href="{{ site.baseurl }}/music">here</a>.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-3 subsection-header fade-in">
                <h3 class="text-center">performances</h3>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-xl-center content-row">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-3 project-card fade-in">
                        <h5>This Side Up</h5>
                        <div class="row justify-content-center">
                            <div class="col-auto"><a href="https://www.youtube.com/watch?v=xkq9TU1V5Lo"><i class="fa fa-youtube-play"></i></a></div>
                        </div>
                        <h6>COMPANY</h6>
                        <p>CMU School of Music</p>
                        <h6>ROLES</h6>
                        <p>pianist</p>
                    </div>
                    <div class="col-3 project-card fade-in">
                        <h5>Side by Side by Side</h5>
                        <div class="row justify-content-center">
                            <div class="col-auto"><a href="https://www.youtube.com/watch?v=DQADK3WWsYw"><i class="fa fa-youtube-play"></i></a></div>
                        </div>
                        <h6>COMPANY</h6>
                        <p>Scotch'n'Soda Theatre</p>
                        <h6>ROLES</h6>
                        <p>pianist, music director, audio editor</p>
                    </div>
                    <div class="col-3 project-card fade-in">
                        <h5>Translating Belonging: German-Jewish Poetry in Classical Art Song</h5>
                        <div class="row justify-content-center">
                            <div class="col-auto"><a href="https://www.youtube.com/playlist?list=PLPwBA8ZVjdj2DCICJZHZd7Ev1H84Kwwyr"><i class="fa fa-youtube-play"></i></a></div>
                            <div class="col-auto"><a href="https://translatingidentity.wordpress.com/"><i class="fa fa-external-link"></i></a></div>
                        </div>
                        <h6>COMPANY</h6>
                        <p>Carnegie Mellon University (student capstone)</p>
                        <h6>ROLES</h6>
                        <p>pianist</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-right section-header-right fade-in">
                <h1>other links</h1>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-xl-center content-row fade-in">
            <div class="col">
                <ul>
                    <li><a href="{{ site.baseurl }}/courses">courses @ CMU</a></li>
                    <li><a href="https://maestramusic.org/profile/ruiran-xun/">Maestra profile</a></li>
                    <li><a href="https://museonline.org/profile/ruiran-xun/">MUSE profile</a></li>
                </ul>
            </div>
        </div>
        
        <div class="row justify-content-end">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-left section-header-left fade-in">
                <h1>let's connect!</h1>
            </div>
        </div> 
        <div class="row justify-content-center connect-row fade-in">
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="mailto:xun.ruiran@gmail.com"><i class="fa fa-envelope"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://www.linkedin.com/in/ruiran-xun/"><i class="fa fa-linkedin-square"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://github.com/elucidium"><i class="fa fa-github"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://www.instagram.com/xun.ruiran/"><i class="fa fa-instagram"></i></a></h1>
            </div>
            <div class="col-1 connect-icon">
                <h1 class="text-center"><a href="https://soundcloud.com/ruiran-xun"><i class="fa fa-soundcloud"></i></a></h1>
            </div>
        </div>
    </div>
    {% include scripts.html %}
</body>

</html>