<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  {% include head.html %}
</head>

<body>
  <div id="particles" style="height: 150px;"></div>
  <div class="text-center d-flex justify-content-center align-items-center" style="background: linear-gradient(#028090, rgb(253,255,227));height: 150px;">
      <h1 class="text-center d-inline-block fade-in" id="page-header" style="text-transform:lowercase;">{{ page.title }}</h1>
  </div>
  <div class="container">
      <div class="row d-lg-flex justify-content-lg-center justify-content-md-center content-row fade-in">
          <div class="col post">
            <article class="page">
              <div class="entry">
                {{ content }}
              </div>
            </article>
          </div>
      </div>
      <div class="row d-lg-flex justify-content-lg-center content-row fade-in">
        <div class="col text-center">
          <a href="{{ site.baseurl }}/">back to homepage</a>
        </div>
    </div>
  </div>
  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/particles.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>

</html>